.idea
*.pyc
*.py[cod]
*/*.pyc
**/*.pyc
!.gitignore
!.gitkeep
*/node_modules
**/node_modules
package-lock.json
**/package-lock.json
xx/xx/node_modules/node_modules/
**/npm-debug.log
npm-debug.log
.DS_Store
**/.DS_Store
*/.DS_Store
.vscode
*.log
*/xxxxxx_python_pro/*.log
**/xxxxxx_python_pro/*.log
*/xxxxxx_python_pro/*.pyc
**/mc_api_server/**/*.pyc
**/*.log
npmlist.json
*/__pycache__